.container {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    display: grid;
    margin: 20px;
}

.week {
    list-style: none;
    background-color: silver;
    padding: 2px;
    margin: 2px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 0 20px;
}

.list {
    list-style: none;
    background-color: lightpink;
    padding: 3px;
    margin: 3px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 0 20px;
}

div li:hover:not(.active) {
    background-color: skyblue;
  }
  
.start {
    grid-column-start: 3;
}